.venv/
__pycache__/
.ipynb_checkpoints/
.vscode/

# Ignore large files and models
*.h5
*.keras
*.y4m
*.mp4
ffmpeg.exe
saved_models/
logs/

# Ignore datasets if they are large
video_dataset/
test_frames/
